@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.content h5{
    color: #fff;
    font-size: 30px;
    margin: 80px 0 10px 70px;
    font-weight: 600;
}

.book-home {
    background: linear-gradient(45deg, #00dbde, #fc00ff);
    background-size: cover;
    background-position: center;
    height: 400px;
}


.book-slid-sow {
    display: flex;
    overflow: scroll;
    width: 80%;
    margin-top: 66px;
    margin-left: 145px;
}

.display-resp {
    display: block;
}

.book-slid-sow::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

.book-home .row .books-slider a img {
    height: 13rem;
    margin-left: 14px;

}


.stand {
    width: 100%;
    margin-left: 100px;

}



.content p {
    color: #000;
    font-size: 17px;
    margin: 10px 0 10px 70px;
    font-weight: 300;
}


.content a {
    margin: 0 0 100px 75px;

}

.card-img {
    height: 13rem;
    width: 11rem;
    margin: 0 auto;
}


:root {
    --font1: 'Heebo', sans-serif;
    --font2: 'Fira Sans Extra Condensed', sans-serif;
    --font3: 'Roboto', sans-serif
}

body {
    font-family: var(--font3);
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%)
}

h2 {
    font-weight: 900
}

.container-fluid {
    max-width: 1200px
}

.card {
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    border: 0;
    border-radius: 1rem
}

.card-img,
.card-img-top {
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px)
}

.card h5 {
    overflow: hidden;
    height: 56px;
    font-weight: 500;
    font-size: 1rem
}

.card-img-top {
    width: 100%;
    max-height: 180px;
    object-fit: contain;
    padding: 10px
}

.card h2 {
    font-size: 1rem
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06)
}

.label-top {
    position: absolute;
    background-color: #8bc34a;
    color: #fff;
    top: 8px;
    right: 8px;
    padding: 5px 10px 5px 10px;
    font-size: .7rem;
    font-weight: 600;
    border-radius: 3px;
    text-transform: uppercase
}

.top-right {
    position: absolute;
    top: 24px;
    left: 24px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 900;
    background: #ff5722;
    line-height: 90px;
    text-align: center;
    color: white
}

.top-right span {
    display: inline-block;
    vertical-align: middle
}

.inner-gallery {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 1px;
    display: inline-block;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover
}

.btn-warning {
    background: none #f7810a;
    color: #ffffff;
    fill: #ffffff;
    border: none;
    text-decoration: none;
    outline: 0;
    box-shadow: -1px 6px 19px rgba(247, 129, 10, 0.25);
    border-radius: 100px
}

.btn-warning:hover {
    background: none #ff962b;
    color: #ffffff;
    box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35)
}

.bg-success {
    font-size: 1rem;
    background-color: #f7810a !important
}

.bg-danger {
    font-size: 1rem
}

.price-hp {
    font-size: 1rem;
    font-weight: 600;
    color: darkgray
}

.amz-hp {
    font-size: .7rem;
    font-weight: 600;
    color: darkgray
}

.fa-question-circle:before {
    color: darkgray
}

.fa-plus:before {
    color: darkgray
}

.box {
    border-radius: 1rem;
    background: #fff;
    box-shadow: 0 6px 10px rgb(0 0 0 / 8%), 0 0 6px rgb(0 0 0 / 5%);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12)
}

.box-img {
    max-width: 300px
}

.thumb-sec {
    max-width: 300px
}

.disclaimer {
    font-size: .9rem;
    color: darkgray
}

.related h3 {
    font-weight: 900
}

footer {
    background: #212529;
    height: 80px;
    color: #fff
}

.filterBtn{
    display: flex;
    justify-content: center;
}


.filBtn{
    font-size: 18px;
    font-weight: 500;
    margin: 12px 12px;
    /* width: 20px; */
}

/* responsive */



@media (max-width: 250px) {
    .btn {
        padding: 5px 30px 5px 30px
    }
    .content h5{
        font-size: 12px;
        margin:10px 0;
        font-weight: 100;
    }
}


@media (max-width: 370px) {
    .box .btn {
        padding: 5px 40px 5px 40px;
        font-size: 1rem
    }

    .content h5{
        font-size: 25px;
        margin: 80px 0 10px 70px;
        font-weight: 400;
    }
    
}



@media (max-width: 576px) {
 
    .box-img {
        max-width: 200px
    }

    .thumb-sec {
        max-width: 200px
    }



    .content p {

        font-size: 1.0rem;
        margin: 10px 0 10px 31px;

    }

    .content a {
        margin: 0px 0 69px 28px;
    }

    .book-slid-sow {
        width: 60%;
        margin-left: 81px;
    }

    main {
        padding-left: 52px;
        padding-right: 52px;
    }
    .filterBtn{
        flex-wrap: wrap;
        
    }
    .filBtn{
        font-size: 18px;
        font-weight: 100;
        font-size: 5px;
        
        /* width: 50%; */
    }
}

@media (max-width: 768px) {
   

    .card-img-top {
        max-height: 250px
    }


    .over-bg {
        background: rgba(53, 53, 53, 0.85);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(0.0px);
        -webkit-backdrop-filter: blur(0.0px);
        border-radius: 10px
    }

    .btn {
        font-size: 1rem;
        font-weight: 500;
        text-transform: uppercase;
        padding: 5px 50px 5px 50px
    }

    .box .btn {
        font-size: 1.5rem
    }


    .book-slid-sow {
        width: 80%;
        margin-left: 55px;

    }

    main {
        padding-left: 62px;
        padding-right: 62px;
    }
}

/* @media  (max-width:828px) {
    main {
        padding-left: 10px;
        padding-right: 10px;
    } 
    
} */




@media (max-width: 992px) {


    .btn {
        padding: 5px 21px 5px 18px;
    }

    .card-img {
        height: 11rem;
        margin: 0 auto;

        width: 9.5rem;
    }


    .content {
        width: 100%;
    }

    .book-slid-sow {
        margin-left: 32px;
    }

    .display-resp {

        display: none;
    }

    .stand {
        display: none;


    }

    main {
        padding-left: 52px;
        padding-right: 52px;
    }

    .filBtn{
        font-size: 15px;
        margin: 12px 6px;
        padding:2px 7px;
        flex-wrap: wrap;

    }

}


@media (max-width: 1200px) {
    .content h5 {
        font-size: 2rem;
        margin: 35px 0 10px 22px;
    }

    .book-slid-sow {

        width: 90%;
        margin-left: 69px;
    }

    .stand {
        width: 116%;
        margin-left: 27px;

    }

    .card-img {
        height: 11rem;
        margin: 0 auto;
        width: 9.5rem;
    }

    .bttns {
        width: 80%;
        margin: 0 auto;
    }



}